body{
  min-height: 100%;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  height: 100%;
  min-width:auto;
  display: flex;
  flex-direction: column;
}

.logo {
  max-height: 25vh;
  pointer-events: none;
  object-fit: contain;
  margin-bottom: 3vh;
}
